@font-face {
  font-family: "Geist";
  src: url("./assets/fonts/Geist/GeistVF.woff2") format("woff2-variations");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Geist Mono";
  src: url("./assets/fonts/Geist/GeistMonoVF.woff2") format("woff2-variations");
  font-weight: 100 900;
  font-style: normal;
}

:root {
  --color-body: #ffffff;
  --color-body-contrast: #222428;
  --color-medium: #6b7280;
  --color-medium-contrast: #f4f5f8;
  --color-primary: #18181a;
  --color-primary-contrast: #f4f5f8;

  font-family: Geist, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-body);
  color: var(--color-body-contrast);
}
